@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        
        <label>Is Scanning: @(BLEScannerViewModel.IsScanningDevices ? "Scanning" : "Stopped")</label>
        
        <button @onclick="Test">Start/stop scan</button>
        
        <ul>
            
            @foreach (var item in BLEScannerViewModel.ScannedDevices)
            {
                var key = $"item_{item.Id}";
                
                <li >@item.DeviceName</li>
            }
            
        </ul>
        
    </main>
</div>