<MudPaper Width="100%">



    <div class="d-flex m-1" style="align-items: center; justify-content: center">
        <MudFab Class="m-1" Size="Size.Small" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Save" Label="Upload configuration" />
        <MudFab Class="m-1" Size="Size.Small" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Cancel" Label="Cancel" @onclick="DeviceConfigurationCancelled" />
    </div>

</MudPaper>


